@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>ANN - Serwis z ogłoszeniami</h1>
    <p>
        Serwis z ogłoszeniami utworzony w Visual Studio 2015. Serwis umożliwia dodawanie wielu ogłoszeń używkownikowi. Użytkownik może wyświetlić
        szczególy każdego ogłoszeia, ale edytować oraz usówać może tylko dodane przez siebie. Każde ogłoszenie może być przypisane do wielu kategorii.
    </p>
    <p>
        Aplikacja zainspirowana oraz w większości oparta o pozycję <b>Krzysztofa Żydzika</b> i <b>Tomasza Raka</b> pt. <b>"C# 6.0 i MVC 5 Tworzenie nowoczesnych
        portali internetowych"</b>. Więcej na temat książki na stronie <a href="http://aspnetmvc.pl/">aspnetmvc.pl</a>.
    </p>
</div>